* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  padding: 2rem 4rem;
}

h1.heading {
  margin-block: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 1.5rem;
}

.group {
  display: grid;
  gap: 0.75rem;
  background-image: linear-gradient(to right, #dbe1f6 10%, #eee);
  padding: 1.5rem 1rem;
  box-shadow: 0 0 5px 1px rgb(50, 50, 242);

  color: #333;

  cursor: pointer;
}

.group:hover {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: scale(1.03);

  box-shadow: 0 0 5px 3px rgb(94, 28, 236);
}
/*do the remaining styling
  <main class="container">
    <a href="#" class="group">
      <h2 class="title">عنوان القروب</h2>
      <p class="desc">وصف القروب</p>
      <p class="limit">الحد الأقصى للأعضاء: 40</p>
      <p class="members">عدد الأعضاء: 30</p>
    </a>
  </main> 
  
  */
  h2.title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .desc {
    font-size: 1rem;
  }
  .limit {
    font-size: 0.9rem;
  }
  .members {
    font-size: 0.9rem;
  }